<div class="form_inner max_width">
  <h2 class="form_title">New Comment</h2>
  <div class="boards_new_container">
    <%= form_with model: [@board, @card, @comment], method: 'post', local: true do |f| %>
      <div class="field">
        <%= f.label :body, "本文", class: "form_label" %>
        <%= f.text_area :body, class: "form_input form_input_textArea" %>
      </div>
      <div class="actions">
        <%= f.submit "追加する" %>
      </div>
    <% end %>
  </div>
  <%= link_to "カード詳細へ戻る", board_card_path(@board, @card),  class: "back_link"%>
</div>