<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cell Focus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="header">
      <h1 class="header_title"><%= link_to "Cell Focus", boards_path %></h1>
      <% if user_signed_in? && !devise_controller? %>
        <div class="avatar">
          <button class="avatar-img">
            <%= avatar_for(current_user, size: 32); %>
          </button>
          <div class="avatar_logoutArea">
            <%= link_to "プロフィール", profile_path, class: "avatar_action_link" %>
            <%= link_to "ログアウト", destroy_user_session_path,   data: { turbo_method: :delete, turbo_confirm: "本当にログアウトしますか？" }, class: "avatar_action_link" %>
          </div>
        </div>
      <% end %>
    </header>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
